@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue';

body {
	font-size: 13px;
}

.table-head {
	    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem;
    background: white;
    margin-bottom: -10px;
    padding-bottom: calc(1rem + 8px);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: #fafafa;
}

  .form-section {
    margin-bottom: 1rem;
    background: #fafafa;
    padding: 1rem;
    border-top: 3px solid #aaa;
  }
  .form-subsection {
    border-bottom: 1px solid #aaa;
    padding-bottom: .5rem;
  }
  .muted {
    color: #aaa;
  }

   textarea {
    height: 80px;
  }

  .genericarraytab {
    background-color: blue !important;
  }